@keyframes ldio-j2kdnmaya9 {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}

.ldio-j2kdnmaya9 div { box-sizing: border-box!important }
.ldio-j2kdnmaya9 > div {
  position: absolute;
  width: 117.36999999999999px;
  height: 117.36999999999999px;
  top: 1.815px;
  left: 1.815px;
  border-radius: 50%;
  border: 6.05px solid #000;
  border-color: #a56e72 transparent #a56e72 transparent;
  animation: ldio-j2kdnmaya9 1.7857142857142856s linear infinite;
}

.ldio-j2kdnmaya9 > div:nth-child(2), .ldio-j2kdnmaya9 > div:nth-child(4) {
  width: 102.85px;
  height: 102.85px;
  top: 9.075px;
  left: 9.075px;
  animation: ldio-j2kdnmaya9 1.7857142857142856s linear infinite reverse;
}
.ldio-j2kdnmaya9 > div:nth-child(2) {
  border-color: transparent #df8e3b transparent #df8e3b
}
.ldio-j2kdnmaya9 > div:nth-child(3) { border-color: transparent }
.ldio-j2kdnmaya9 > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-j2kdnmaya9 > div:nth-child(3) div:before, .ldio-j2kdnmaya9 > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 6.05px;
  height: 6.05px;
  top: -6.05px;
  left: 49.61px;
  background: #a56e72;
  border-radius: 50%;
  box-shadow: 0 111.32px 0 0 #a56e72;
}
.ldio-j2kdnmaya9 > div:nth-child(3) div:after {
  left: -6.05px;
  top: 49.61px;
  box-shadow: 111.32px 0 0 0 #a56e72;
}

.ldio-j2kdnmaya9 > div:nth-child(4) { border-color: transparent; }
.ldio-j2kdnmaya9 > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-j2kdnmaya9 > div:nth-child(4) div:before, .ldio-j2kdnmaya9 > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 6.05px;
  height: 6.05px;
  top: -6.05px;
  left: 42.35px;
  background: #df8e3b;
  border-radius: 50%;
  box-shadow: 0 96.8px 0 0 #df8e3b;
}
.ldio-j2kdnmaya9 > div:nth-child(4) div:after {
  left: -6.05px;
  top: 42.35px;
  box-shadow: 96.8px 0 0 0 #df8e3b;
}
.loadingio-spinner-double-ring-ky2s053i5zn {
  width: 121px;
  height: 121px;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  background: none;
}
.ldio-j2kdnmaya9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-j2kdnmaya9 div { box-sizing: content-box; }